*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    max-width: 40rem;
    margin: auto;
    overflow: auto;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin: auto;
    background-color: tomato;
    margin-top: 1rem;
}
.menu .containerbtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.menu .containerbtn .add,
.menu .containerbtn .supprimer{
    background-color: red;
    color: white;
    display: block;
    border-radius: 0.3rem;
    border: none;
    width: 6.5rem;
    height: 100%;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
}
.menu .containerbtn .supprimer:hover{
    background-color: rgb(231, 47, 15);
}
.menu .containerbtn .add:hover{
    background-color: rgb(231, 47, 15);
   
}